{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Geneti-pets | {% block title %}Unknown{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'gameui/style.css' %}">
    {% block styles %}
    {% endblock %}
    <link rel="shortcut icon" href="{% static 'favicon.svg' %}">

    {% block internal_css %}{% endblock %}
</head>
<body>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}"><h1>Geneti-pets</h1></a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'my-pets' %}">Pets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'breed' %}">Breed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'hatch' %}">Hatchery</a>
            </li>
            <div class="spacer"></div>
            <li class="nav-item">
                <h2>Logged in as {{ user }}</h2>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Log In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
        {% endif %}
    </ul>
    <div class="backdrop">
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>