{% extends "layout.html" %}

{% block title %}My Pets{% endblock title %}

{% load static %}
{% load custom_filters %}

{% block styles %}
<link rel="stylesheet" href="{% static 'gameui/petView.css' %}">
<link rel="stylesheet" href="{% static 'gameui/symbolStyle.css' %}">
{% endblock %}

{% block internal_css %}
<style>
    /* First type components */
    .w1 .half1 { background-image: url(/static/assets/symbols{{ settings.quality }}/w1.png); }
    .w1 .shadow1 { background-image: url(/static/assets/symbols{{ settings.quality }}/sw1.png); }
    
    .f1 .half1 { background-image: url(/static/assets/symbols{{ settings.quality }}/f1.png); }
    .f1 .shadow1 { background-image: url(/static/assets/symbols{{ settings.quality }}/sf1.png); }
    
    .r1 .half1 { background-image: url(/static/assets/symbols{{ settings.quality }}/r1.png); }
    .r1 .shadow1 { background-image: url(/static/assets/symbols{{ settings.quality }}/sr1.png); }
    
    .a1 .half1 { background-image: url(/static/assets/symbols{{ settings.quality }}/a1.png); }
    .a1 .shadow1 { background-image: url(/static/assets/symbols{{ settings.quality }}/sa1.png); }
    
    .c1 .half1 { background-image: url(/static/assets/symbols{{ settings.quality }}/c1.png); }
    .c1 .shadow1 { background-image: url(/static/assets/symbols{{ settings.quality }}/sc1.png); }
    
    .l1 .half1 { background-image: url(/static/assets/symbols{{ settings.quality }}/l1.png); }
    .l1 .shadow1 { background-image: url(/static/assets/symbols{{ settings.quality }}/sl1.png); }
    
    .d1 .half1 { background-image: url(/static/assets/symbols{{ settings.quality }}/d1.png); }
    .d1 .shadow1 { background-image: url(/static/assets/symbols{{ settings.quality }}/sd1.png); }
    
    .m1 .half1 { background-image: url(/static/assets/symbols{{ settings.quality }}/m1.png); }
    .m1 .shadow1 { background-image: url(/static/assets/symbols{{ settings.quality }}/sm1.png); }
    
    .b1 .half1 { background-image: url(/static/assets/symbols{{ settings.quality }}/b1.png); }
    .b1 .shadow1 { background-image: url(/static/assets/symbols{{ settings.quality }}/sb1.png); }
    
    .s1 .half1 { background-image: url(/static/assets/symbols{{ settings.quality }}/s1.png); }
    .s1 .shadow1 { background-image: url(/static/assets/symbols{{ settings.quality }}/ss1.png); }
    
    .p1 .half1 { background-image: url(/static/assets/symbols{{ settings.quality }}/p1.png); }
    .p1 .shadow1 { background-image: url(/static/assets/symbols{{ settings.quality }}/sp1.png); }
    
    /* Second type components */
    .w2 .half2 { background-image: url(/static/assets/symbols{{ settings.quality }}/w2.png); }
    .w2 .shadow2 { background-image: url(/static/assets/symbols{{ settings.quality }}/sw2.png); }
    
    .f2 .half2 { background-image: url(/static/assets/symbols{{ settings.quality }}/f2.png); }
    .f2 .shadow2 { background-image: url(/static/assets/symbols{{ settings.quality }}/sf2.png); }
    
    .r2 .half2 { background-image: url(/static/assets/symbols{{ settings.quality }}/r2.png); }
    .r2 .shadow2 { background-image: url(/static/assets/symbols{{ settings.quality }}/sr2.png); }
    
    .a2 .half2 { background-image: url(/static/assets/symbols{{ settings.quality }}/a2.png); }
    .a2 .shadow2 { background-image: url(/static/assets/symbols{{ settings.quality }}/sa2.png); }
    
    .c2 .half2 { background-image: url(/static/assets/symbols{{ settings.quality }}/c2.png); }
    .c2 .shadow2 { background-image: url(/static/assets/symbols{{ settings.quality }}/sc2.png); }
    
    .l2 .half2 { background-image: url(/static/assets/symbols{{ settings.quality }}/l2.png); }
    .l2 .shadow2 { background-image: url(/static/assets/symbols{{ settings.quality }}/sl2.png); }
    
    .d2 .half2 { background-image: url(/static/assets/symbols{{ settings.quality }}/d2.png); }
    .d2 .shadow2 { background-image: url(/static/assets/symbols{{ settings.quality }}/sd2.png); }
    
    .m2 .half2 { background-image: url(/static/assets/symbols{{ settings.quality }}/m2.png); }
    .m2 .shadow2 { background-image: url(/static/assets/symbols{{ settings.quality }}/sm2.png); }
    
    .b2 .half2 { background-image: url(/static/assets/symbols{{ settings.quality }}/b2.png); }
    .b2 .shadow2 { background-image: url(/static/assets/symbols{{ settings.quality }}/sb2.png); }
    
    .s2 .half2 { background-image: url(/static/assets/symbols{{ settings.quality }}/s2.png); }
    .s2 .shadow2 { background-image: url(/static/assets/symbols{{ settings.quality }}/ss2.png); }
    
    .p2 .half2 { background-image: url(/static/assets/symbols{{ settings.quality }}/p2.png); }
    .p2 .shadow2 { background-image: url(/static/assets/symbols{{ settings.quality }}/sp2.png); }
    
    /* Neutral */
    
    .n1 .half1, .n2 .half1 { background-image: url(/static/assets/symbols{{ settings.quality }}/n1.png); }
    .n1 .shadow1, .n2 .shadow1 { background-image: url(/static/assets/symbols{{ settings.quality }}/sn1.png); }
    
    .n2 .half2, .n1 .half2 { background-image: url(/static/assets/symbols{{ settings.quality }}/n2.png); }
    .n2 .shadow2, .n1 .shadow2 { background-image: url(/static/assets/symbols{{ settings.quality }}/sn2.png); }
</style>
{% endblock internal_css %}

{% block body %}
    <div id="cardcontainer">
        {% for pet in pets %}
            <div class="card">
                <div class="card-info">
                    <div class="pet-name">
                        <h2><img class="genderSymbol" src="{% static pet.gender|yesno:'male.svg,female.svg' %}">{{ pet.name }}</h2>
                    </div>
                    <hr>
                    <p></p>
                    <style>
                        .{{ pet.uuid }} *, .{{ pet.uuid }} *::after {
                            --pos: {{ pet.features.position }};
                            --body: url({% static 'assets' %}/{{ pet.features.walk }}{{ settings.quality }}/base.png);
                            --eyes: url({% static 'assets' %}/{{ pet.features.walk }}{{ settings.quality }}/eye.png);
                            --sclera: url({% static 'assets' %}/{{ pet.features.walk }}{{ settings.quality }}/eye_white.png);
                            --skin: url({% static 'assets' %}/{{ pet.features.walk }}{{ settings.quality }}/{{ pet.features.skin }}.png);
                            --trait: url({% static 'assets' %}/{{ pet.features.walk }}{{ settings.quality }}/{{ pet.features.trait }}.png);
                        }

                        .{{ pet.uuid }} *::after {
                            --primaryColor: hsl({{ pet.primary.hue }}, {{ pet.primary.saturation }}%, {{ pet.primary.luminosity }}%);
                            --secondaryColor: hsl({{ pet.secondary.hue }}, {{ pet.secondary.saturation }}%, {{ pet.secondary.luminosity }}%);
                            --highlightColor: hsl({{ pet.highlights.hue }}, {{ pet.highlights.saturation }}%, {{ pet.highlights.luminosity }}%);
                        }
                    </style>
                    <div class="imgholder {{ pet.uuid }} {% if settings.quality == '_x1' %}pixel{% endif %}">
                        <div class="petPrimary body"></div>
                        <div class="{{ pet.features.skin|includes:'carapace'|yesno:'petSecondary,petPrimary' }} skin"></div>
                        <div class="pet{{ pet.features.color }} trait"></div>
                        <div class="petHighlights eyes"></div>
                        <div class="petSclera"></div>

                    </div>
                    <hr>
                    <div class="symbol-types">
                    {% for type in pet.types %}
                        <div class="symbol-type {{ pet.unparsedTypes|get_item:type|get_item:'c1' }}1 {{ pet.unparsedTypes|get_item:type|get_item:'c2' }}2 {% if settings.quality == '_x1' %}pixel{% endif %}">
                            <div class="shadow1"></div>
                            <div class="shadow2"></div>
                            <div class="half1"></div>
                            <div class="half2"></div>
                        </div>
                        {% endfor %}
                    </div>
                    <!--
                        {{ pet.features.walk }}
                        {{ pet.features.trait }}
                        {{ pet.features.skin }}
                    -->
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}