{% extends 'layout.html' %}

{% block title %}Settings{% endblock title %}

{% block body %}
<h1>Settings</h1>

<form id="quality-form">
  <div class="form-group">
    <label for="quality">Quality:</label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="quality" id="quality-low" value="0" 
        {% if settings.quality == '_x1' %}checked{% endif %}>
      <label class="form-check-label" for="quality-low">Low</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="quality" id="quality-med" value="1" 
        {% if settings.quality == '_x4' %}checked{% endif %}>
      <label class="form-check-label" for="quality-med">Medium</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="quality" id="quality-high" value="2" 
        {% if settings.quality == '_x8' %}checked{% endif %}>
      <label class="form-check-label" for="quality-high">High</label>
    </div>
  </div>
  <button type="button" id="save-button" class="btn btn-primary">Save</button>
</form>

<script>
  // Function to send POST request with the selected quality setting
  async function sendQualitySetting(quality) {
    try {
      const response = await fetch('/settingspost', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ quality })
      });

      if (response.ok) {
        window.location.reload()
      }
    } catch (error) {
      console.error('Error:', error);
      alert('An error occurred while saving the settings.');
    }
  }

  // Event listener for the "Save" button
  document.getElementById('save-button').addEventListener('click', function () {
    const selectedQuality = document.querySelector('input[name="quality"]:checked');
    if (selectedQuality) {
      sendQualitySetting(selectedQuality.value);
    }
  });
</script>
{% endblock %}
